<div>
    test
</div>


{% schema %}
{
  "name": "Collection Test settings",
  "settings": [
    {
      "type": "color",
      "id": "color_schema",
      "label": "Background Color",
      "default": "#D8BE8C"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text overlay"
    },
    {
      "id": "bannerImage",
      "type": "image_picker",
      "label": "Banner Image"
    }
  ]
}
{% endschema %}