<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>




<div class = "container">
<div  class="row">
{%- for block in section.blocks -%}
<div class = "feature-prod grid--3-col-desktop">test</div>

{%- endfor -%}
</div>
</div>




{% schema %}
{
  "blocks": [
    {
      "type": "first-section",
      "name": "First Sections",
      "limit": 3,
      "settings": [
        {
          "id": "imageOne",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "description-text",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Url link direction"
        }
      ]
    }
  ]
}
{% endschema %}





<style>
  .feature-prod{
    width: 340px;
    height: 340px;
    background-color: aqua;
  }
</style>












