<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>



<div>test</div>




{% schema %}
{
  "block": [
    {
      "type": "first-section",
      "name": "First SectionS",
      "settings": [
        {
          "id": "imageOne",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "description-text",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}


















